{% extends 'lifesaver/main.html' %}

{% block content %}

<div class="row">
	<div class="col-md-5">
		<h5>Patients:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Fill Out New Patient</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Phone</th>
				</tr>

				{% for patients in patients %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="#">View</a></td>
						<td>{{patients.name}}</td>
						<td>{{patients.sick}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Nurses</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Department</th>
					<th>Work Shift Hours</th>
					<th>Update</th>
				</tr>

				{% for nurses in nurses %}
					<tr>
						<td>{{nurses.name}}</td>
						<td>{{nurse.sector}}</td>
						<td>{{nurse.work_shift}}</td>
						<td><a class="btn btn-sm btn-info" href="#">Update</a></td>
					</tr>
				{% endfor %}
		
			</table>
		</div>
	</div>

</div>


{% endblock %}